<p id="notice"><%= notice %></p>
<div class="container">
   <div class="incomplete_words">
      <h1> Review List </h1>
        <table>
          <tr>
            <td>Word</td>
            <td>Definition</td>
            <td>Sentence</td>
            <td>Story</td>
            <td>Done</td>
          </tr>
          <% @current_user.words.each do |x| %>
              <% if x.is_complete == false %>
                  <tr id="edit_word_<%= x.id %>">
                    <td><%= x.name.capitalize %></td>
                    <td><%= x.definition %></td>
                    <td><%= simple_format(x.sentence) %></td>
                    <td><%= x.story.name%></td>
                    <td><%= render :partial => "words/complete", :locals => {:word => x} %></td>
                  </tr>
              <% end %>
          <% end %>
     </table>
  </div>

     <div class="words">
       <h2>Finished Words</h2>
         <% if @complete_words != nil %>
          <table id="complete_words">
            <tr>
              <td>Word</td>
              <td>Definition</td>
              <td>Sentence</td>
              <td>Story</td>
            </tr>
            <% @complete_words.each do |complete_word| %>
            <tr>
              <td><%= complete_word.name.capitalize %></td>
              <td><%= complete_word.definition %></td>
              <td><%= simple_format(complete_word.sentence) %></td>
              <td><%= complete_word.story.name%></td>
              <td><%= render :partial => "words/complete", :locals => {:word => complete_word} %></td>
            </tr>
            <% end %>
          </table>
         <% else %>
            <p>You haven't learned any words yet...</p>
         <% end %>
      </div>
</div>

<%= link_to 'Back', words_path %>
